/*====================================================
	- HTML Table Filter Generator Custom Theme for myCM
=====================================================*/

/* TABLE LAYOUT
=====================================================*/
table.TF{
	font:normal 8pt verdana, arial, helvetica !important;
	border-left:1px solid #969696 !important; border-top:none !important; /* BR:changed */
	border-right:1px solid #969696 !important; border-bottom:none !important;
}
table.TF th{
	background:#EBECEE url(../MyCM/images/table-header-black.jpg) left top repeat-x  !important;
	background-color:#575757;
	border-right:1px solid #666 !important;
	padding-left:5px !important;; padding-right:5px !important; color:#FFF !important; height:26px !important;		
}

table.TF td{border-top:none !important; border-bottom:1px solid #969696 !important; padding:5px !important; height:20px !important; vertical-align:middle !important;}	/* BR:changed */


/* FILTERS
=====================================================*/
/* filter grid row appearance */
.fltrow{ background-color:#C7CDE9 !important; }				/* BR changed: background-color to blue*/
.fltrow th, .fltrow td{ 
	border-bottom:1px solid #969696 !important;
	border-left:0 !important; border-top:0 !important; 
	padding:1px 3px 1px 3px !important; 
}

/* filter (input) appearance */
.flt, select.flt, select.flt_multi, .flt_s, .single_flt, .div_checklist{ border:1px solid #687830 !important; }
input.flt{ width:99% !important; }

/* TOP BAR
=====================================================*/
/* div containing left, middle and right divs */
.inf{ background:#f4f4f4 url(../MyCM/images/bg_infDiv.jpg) left bottom repeat-x !important; }

/* RESET BUTTON
=====================================================*/
/* Reset button */
input.reset{
	width:53px; height:19px; cursor:pointer !important;
	border:0 !important; vertical-align:middle;
	background:transparent url(../MyCM/images/btn_filter.png) center center no-repeat !important;
}
input.reset:hover{ background:#CAD1D6 url(../MyCM/images/btn_filter.png) center center no-repeat !important; }

/* PAGING
=====================================================*/
/* Paging elements */

/* left div */
.ldiv{ width:40% !important; }
/* middle div */
.mdiv{ width:34% !important; text-align:left !important; }
/* right div */
.rdiv{ width:20% !important; }

input.pgInp{
	width:19px; height:19px; cursor:pointer !important;
	border:0 !important;
}
.nextPage{ background:transparent url(../MyCM/images/btn_next_page.gif) center center no-repeat !important; }
.previousPage{ background:transparent url(../MyCM/images/btn_previous_page.gif) center center no-repeat !important; }
.firstPage{ background:transparent url(../MyCM/images/btn_first_page.gif) center center no-repeat !important; }
.lastPage{ background:transparent url(../MyCM/images/btn_last_page.gif) center center no-repeat !important; }
.nextPage:hover{ background:#CAD1D6 url(../MyCM/images/btn_next_page.gif) center center no-repeat !important; }
.previousPage:hover{ background:#CAD1D6 url(../MyCM/images/btn_previous_page.gif) center center no-repeat !important; }
.firstPage:hover{ background:#CAD1D6 url(../MyCM/images/btn_first_page.gif) center center no-repeat !important; }
.lastPage:hover{ background:#CAD1D6 url(../MyCM/images/btn_last_page.gif) center center no-repeat !important; }
select.rspg{ font-size:10px; }

/* GRID LAYOUT
=====================================================*/
/*Main container*/
div.grd_Cont{ background:#81963B url(../MyCM/images/bg_headers.jpg) left top repeat-x !important; border:1px solid #ccc !important; padding:0 1px 1px 1px !important; }
/*headers' table container*/
div.grd_headTblCont{ background-color:#EBECEE !important; border-bottom:none !important; }
/*div.grd_tblCont{ overflow-y:auto !important; }*/
div.grd_tblCont table{ border-right:none !important; }
/* Headers */
div.grd_tblCont table th, div.grd_headTblCont table th{
	background:transparent url(../MyCM/images/bg_headers.jpg) 0 0 repeat-x !important;; 
	border-bottom:0 !important; border-right:1px dotted #D0D0D0 !important;
	border-left:0 !important; border-top:0 !important;
	padding:0 4px 0 4px !important; color:#fff !important; height:35px !important;
}
/* filters cells */
div.grd_headTblCont table td{
	border-bottom:1px dotted #39424B !important; border-right:1px dotted #fff !important;
	border-left:0 !important; border-top:0 !important; 
	background-color:#81963B !important;
	padding:1px 3px 1px 3px !important; 
}

/* div containing left, middle and right divs */ 
.grd_inf{ 
	background:#f4f4f4 url(../MyCM/images/bg_infDiv.jpg) center bottom repeat-x !important;
	border-top:1px solid #D0D0D0 !important; height:29px !important; padding-top:2px !important;
}
/*row bg alternating color*/
div.grd_Cont .even{ background-color:#BCCD83; }
div.grd_Cont .odd{ background-color:#fff; }

/* LOADER
=====================================================*/
/* Loader */

.loader-ORIGINAL{ background:#fff; }			/* BR:changed, removed because i couldn't get it to hide */
.defaultLoader-ORIGINAL{ width:32px; height:11px; background:transparent url(../MyCM/images/myloader.gif) 0 0 no-repeat !important; } /* BR:changed, removed because i couldn't get it to hide */


/* ALTERNATING ROW BACKGROUNDS
=====================================================*/
/* Alternating backgrounds */
.even{ background-color:#F0F0F0; }/*row bg alternating color*/		/* BR:changed */
.odd{ background-color:#FFF; }/*row bg alternating color*/	/* BR:changed */
