/*====================================================
	- HTML Table Filter Generator Default Theme
	- Do not hesitate to edit classes below to 
	change theme appearance
=====================================================*/

.myPager { height:30px;

}

.myPager-Left {
	text-align:left;	
	float:left; 
	border:1px solid #666666;
	padding:2px;
	width:175px;
	background-color:#EEE;
	color:#003570;
}

.myPager-Mid {
	text-align:center;	
	border:1px solid #666666;
	padding:2px;
	width:200px;
	background-color:#EEE;
	color:#003570;
}

.myPager-Buttons{
	width:25px;
	font-weight:normal;
}

/* TABLE LAYOUT
=====================================================*/
table.TF{
	font:normal 8pt verdana, arial, helvetica !important;
	border-left:1px solid #969696 !important; border-top:none !important; /* BR:changed */
	border-right:1px solid #969696 !important; border-bottom:none !important;
}
table.TF th{
	background:#EBECEE url(../MyCM/images/table-header-black.jpg) left top repeat-x  !important;
	background-color:#575757;
	border-right:1px solid #666 !important;
	padding-left:5px !important;; padding-right:5px !important; color:#FFF !important; height:26px !important;		
}

table.TF-ORIGINAL th{
	background:#EBECEE url(../MyCM/images/bg_th.jpg) left top repeat-x  !important;
	border-bottom:1px solid #D0D0D0 !important; border-right:1px solid #D0D0D0 !important;
	border-left:1px solid #fff !important; border-top:1px solid #fff !important;
	padding:2px !important; color:#333 !important; height:25px !important;
}

table.TF td{border-top:none !important; border-bottom:1px solid #969696 !important; padding:5px !important; height:20px !important; vertical-align:middle !important;}	/* BR:changed */

/* FILTERS
=====================================================*/
/* filter grid row appearance */
.fltrow{ background-color:#EBECEE !important; }
.fltrow th, .fltrow td{ border-bottom:1px solid #969696 !important; padding:1px 3px 1px 3px !important; }	/* BR:changed, i don't think it did anything */

/* filter (input) appearance */
.flt, select.flt, select.flt_multi, .flt_s, .single_flt, .div_checklist{ border:1px solid #999 !important; }
input.flt{ width:99% !important; }

/* TOP BAR
=====================================================*/
/* div containing left, middle and right divs */
.inf{ background:#f4f4f4 url(../MyCM/images/bg_infDiv.jpg) 0 0 repeat-x  !important; }

/* RESET BUTTON
=====================================================*/
/* Reset button */
input.reset{
	width:19px; height:19px; cursor:pointer !important;
	border:0 !important; vertical-align:middle;
	background:transparent url(../MyCM/images/btn_eraser.gif) center center no-repeat  !important;
}
input.reset:hover{ background:transparent url(../MyCM/images/btn_over_eraser.gif) center center no-repeat  !important; }

/* PAGING
=====================================================*/
/* Paging elements */
input.pgInp{
	width:19px; height:19px; cursor:pointer !important;
	border:0 !important;
}
.nextPage{ background:transparent url(../MyCM/images/btn_next_page.gif) center center no-repeat  !important; }
.previousPage{ background:transparent url(../MyCM/images/btn_previous_page.gif) center center no-repeat  !important; }
.firstPage{ background:transparent url(../MyCM/images/btn_first_page.gif) center center no-repeat  !important; }
.lastPage{ background:transparent url(../MyCM/images/btn_last_page.gif) center center no-repeat  !important; }
.nextPage:hover{ background:transparent url(../MyCM/images/btn_over_next_page.gif) center center no-repeat  !important; }
.previousPage:hover{ background:transparent url(../MyCM/images/btn_over_previous_page.gif) center center no-repeat  !important; }
.firstPage:hover{ background:transparent url(../MyCM/images/btn_over_first_page.gif) center center no-repeat  !important; }
.lastPage:hover{ background:transparent url(../MyCM/images/btn_over_last_page.gif) center center no-repeat  !important; }
select.rspg{ font-size:8pt; }

/* GRID LAYOUT
=====================================================*/
/*Main container*/
div.grd_Cont{ background-color:#EBECEE !important; border:1px solid #ccc !important; padding:0 !important; }
/*headers' table container*/
div.grd_headTblCont{ background-color:#EBECEE !important; border-bottom:none !important; }
/*div.grd_tblCont{ overflow-y:auto !important; }*/
div.grd_tblCont table{ border-right:none !important; }
/* Headers */
div.grd_tblCont table th, div.grd_headTblCont table th, div.grd_headTblCont table td{
	background:#EBECEE url(../MyCM/images/bg_th.jpg) left top repeat-x  !important;
	border-bottom:1px solid #D0D0D0 !important; border-right:1px solid #D0D0D0 !important;
	border-left:1px solid #fff !important; border-top:1px solid #fff !important;
}
/* div containing left, middle and right divs */
.grd_inf{ 
	background:#f4f4f4 url(../MyCM/images/bg_infDiv.jpg) 0 0 repeat-x  !important; 
	border-top:1px solid #D0D0D0 !important;
}
/*row bg alternating color*/
div.grd_Cont .even{ background-color:#fff; }
div.grd_Cont .odd{ background-color:#D5D5D5; }

/* LOADER
=====================================================*/
/* Loader */
.loader{ background:#fff; }
.defaultLoader{ width:32px; height:32px; background:transparent url(../MyCM/images/myloader.gif) 0 0 no-repeat  !important; }

/* ALTERNATING ROW BACKGROUNDS
=====================================================*/
/* Alternating backgrounds */
.even{ background-color:#FFF; }/*row bg alternating color*/		/* BR:changed */
.odd{ background-color:#F0F0F0; }/*row bg alternating color*/	/* BR:changed */



