.AccordionTitle, .AccordionContent, .AccordionContainer
{
  position:relative;
  width:100%;
}

.AccordionTitle
{
  height:20px;  
  overflow:hidden;
  cursor:pointer;    
}

.AccordionContent
{
  height:0px;
  overflow:auto;
  overflow-x: hidden;  	/* turn off horizontal scrolling */
  overflow-y: auto; 	/* turn on vertical scrolling  */
  display:none;
  border-bottom:1px solid #969696;  
}

.AccordionContainer
{
/* empty for now... */
}

