/* *********************************** */
/* myCM Buttons setup                  */
	.clear { /* generic container (i.e. div) for floating buttons */
		overflow: hidden;
		width: 100%;
	}

	.saveButton {
		color: #444;
		text-align:left;
		border: none;
		background: transparent url('../_images/myCM_save.jpg') no-repeat;
		background-position: top left;		
		font-family: Verdana, Geneva, sans-serif;
		font-size:11px;
		font-style:normal;	
		height: 22px;
		margin-right: 6px;
		text-decoration: none;
		line-height: 12px;
		padding: 5px 0 5px 23px;
		width: 104px;
		cursor: pointer;
		}
	
	.saveButtonFocus {
		color: #444;
		text-align:left;
		border: none;
		background: transparent url('../_images/myCM_save.jpg') no-repeat;
		background-position: bottom left;		
		font-family: Verdana, Geneva, sans-serif;
		font-size:11px;
		font-style:normal;	
		height: 22px;
		margin-right: 6px;
		text-decoration: none;
		line-height: 12px;		
	    padding: 6px 0 4px 23px; /* push text down 1px */		
		width: 104px;
		cursor: pointer;
		}

	button::-moz-focus-inner { 
		/* FF padding fix */
		border: 0;
		padding: 0;
	}
	
/* ************************************ */
/* ************************************ */
/* MYCM BUTTONS.....                    */
/* ************************************ */
/* ************************************ */
a.myCMbutton {
    background: transparent url('../_images/myCM_button_a.jpg') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size:11px;
	font-style:normal;	
    height: 22px;
    margin-right: 6px;
    padding-right: 10px; /* sliding doors padding */
    text-decoration: none;
}

a.myCMbutton:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.myCMbutton:hover { 
	text-decoration:none; 
} 

a.myCMbutton:focus {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}


/* *********************************** */
/* NO image button                     */
a.myCMbutton span {
    background: transparent url('../_images/myCM_button_span.jpg') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 18px;
} 

a.myCMbutton:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
} 

a.myCMbutton:focus span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}


/* *********************************** */
/* SAVE image button                     */
a.myCMbutton span.save {
    background: transparent url('../_images/myCM_button_save.jpg') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 23px;
} 

a.myCMbutton:active span.save {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
} 

a.myCMbutton:focus span.save {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
}


/* *********************************** */
/* ADD image button                     */
a.myCMbutton span.add {
    background: transparent url('../_images/myCM_button_add.jpg') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 23px;
} 

a.myCMbutton:active span.add {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
} 

a.myCMbutton:focus span.add {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
}


/* *********************************** */
/* DELETE image button                 */
a.myCMbutton span.delete {
    background: transparent url('../_images/myCM_button_delete.jpg') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 23px;
} 

a.myCMbutton:active span.delete {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
} 

a.myCMbutton:focus span.delete {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
}

/* *********************************** */
/* SEARCH image button                 */
a.myCMbutton span.search {
    background: transparent url('../_images/myCM_button_search.jpg') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 23px;
} 

a.myCMbutton:active span.search {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
} 

a.myCMbutton:focus span.search {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
}

/* *********************************** */
/* CANCEL image button                 */
a.myCMbutton span.cancel {
    background: transparent url('../_images/myCM_button_cancel.jpg') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 23px;
} 

a.myCMbutton:active span.cancel {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
} 

a.myCMbutton:focus span.cancel {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
}

/* *********************************** */
/* UNLOCK image button                 */
a.myCMbutton span.unlock {
    background: transparent url('../_images/myCM_button_unlock.jpg') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 23px;
} 

a.myCMbutton:active span.unlock {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
} 

a.myCMbutton:focus span.unlock {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
}


/* *********************************** */
/* LOCK image button                   */
a.myCMbutton span.lock {
    background: transparent url('../_images/myCM_button_lock.jpg') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 23px;
} 

a.myCMbutton:active span.lock {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
} 

a.myCMbutton:focus span.lock {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
}


/* *********************************** */
/* SYNC image button                   */
a.myCMbutton span.sync {
    background: transparent url('../_images/myCM_button_sync.jpg') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 23px;
} 

a.myCMbutton:active span.sync {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
} 

a.myCMbutton:focus span.sync {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
}


/* *********************************** */
/* OPEN/PLUS image button            */
a.myCMbutton span.plus {
    background: transparent url('../_images/myCM_button_plus.jpg') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 23px;
} 

a.myCMbutton:active span.plus {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
} 

a.myCMbutton:focus span.plus {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
}


/* *********************************** */
/* CLOSE/MINUS image button          */
a.myCMbutton span.minus {
    background: transparent url('../_images/myCM_button_minus.jpg') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 23px;
} 

a.myCMbutton:active span.minus {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
} 

a.myCMbutton:focus span.minus {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
}


/* *********************************** */
/* EXPLODE image button                */
a.myCMbutton span.explode {
    background: transparent url('../_images/myCM_button_explode.jpg') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 23px;
} 

a.myCMbutton:active span.explode {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
} 

a.myCMbutton:focus span.explode {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
}


/* *********************************** */
/* COLAPSE image button          */
a.myCMbutton span.colapse {
    background: transparent url('../_images/myCM_button_colapse.jpg') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 23px;
} 

a.myCMbutton:active span.colapse {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
} 

a.myCMbutton:focus span.colapse {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
}


/* *********************************** */
/* PRINT image button          */
a.myCMbutton span.print {
    background: transparent url('../_images/myCM_button_print.jpg') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 23px;
} 

a.myCMbutton:active span.print {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
} 

a.myCMbutton:focus span.print {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
}


/* *********************************** */
/* SETUP image button          */
a.myCMbutton span.setup {
    background: transparent url('../_images/myCM_button_setup.jpg') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 23px;
} 

a.myCMbutton:active span.setup {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
} 

a.myCMbutton:focus span.setup {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
}


/* *********************************** */
/* NEXT image button          */
a.myCMbutton span.next {
    background: transparent url('../_images/myCM_button_next.jpg') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 23px;
} 

a.myCMbutton:active span.next {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
} 

a.myCMbutton:focus span.next {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
}


/* *********************************** */
/* BACK image button          */
a.myCMbutton span.back {
    background: transparent url('../_images/myCM_button_back.jpg') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 23px;
} 

a.myCMbutton:active span.back {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
} 

a.myCMbutton:focus span.back {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
}


/* *********************************** */
/* EMAIL image button          */
a.myCMbutton span.email {
    background: transparent url('../_images/myCM_button_email.jpg') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 23px;
} 

a.myCMbutton:active span.email {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
} 

a.myCMbutton:focus span.email {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
}


/* *********************************** */
/* EMAIL image button          */
a.myCMbutton span.emailsend {
    background: transparent url('../_images/myCM_button_email-send.jpg') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 23px;
} 

a.myCMbutton:active span.emailsend {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
} 

a.myCMbutton:focus span.emailsend {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
}

/* *********************************** */
/* FLAG image button          */
a.myCMbutton span.flag {
    background: transparent url('../_images/myCM_button_flag.jpg') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 23px;
} 

a.myCMbutton:active span.flag {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
} 

a.myCMbutton:focus span.flag {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
}

/* *********************************** */
/* RETURN image button          */
a.myCMbutton span.return {
    background: transparent url('../_images/myCM_button_return.jpg') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 23px;
} 

a.myCMbutton:active span.return {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
} 

a.myCMbutton:focus span.return {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
}

/* *********************************** */
/* SORT image button          */
a.myCMbutton span.sort {
    background: transparent url('../_images/myCM_button_sort.jpg') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 23px;
} 

a.myCMbutton:active span.sort {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
} 

a.myCMbutton:focus span.sort {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
}


/* *********************************** */
/* USER image button          		   */
a.myCMbutton span.user {
    background: transparent url('../_images/myCM_button_user.jpg') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 23px;
} 

a.myCMbutton:active span.user {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
} 

a.myCMbutton:focus span.user {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
}


/* *********************************** */
/* USER LINK image button          		   */
a.myCMbutton span.userlink {
    background: transparent url('../_images/myCM_button_user_link.jpg') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 23px;
} 

a.myCMbutton:active span.userlink {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
} 

a.myCMbutton:focus span.userlink {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
}


/* *********************************** */
/* FOLDER image button          		   */
a.myCMbutton span.folder {
    background: transparent url('../_images/myCM_button_folder.jpg') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 23px;
} 

a.myCMbutton:active span.folder {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
} 

a.myCMbutton:focus span.folder {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
}


/* *********************************** */
/* CLEAR LIST image button       	   */
a.myCMbutton span.clearlist {
    background: transparent url('../_images/myCM_button_clear.jpg') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 23px;
} 

a.myCMbutton:active span.clearlist {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
} 

a.myCMbutton:focus span.clearlist {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
}


/* *********************************** */
/* START image button       	   */
a.myCMbutton span.start {
    background: transparent url('../_images/myCM_button_start.jpg') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 23px;
} 

a.myCMbutton:active span.start {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
} 

a.myCMbutton:focus span.start {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
}


/* *********************************** */
/* ATTACH image button       	   */
a.myCMbutton span.attach {
    background: transparent url('../_images/myCM_button_attach.jpg') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 23px;
} 

a.myCMbutton:active span.attach {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
} 

a.myCMbutton:focus span.attach {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
}

/* *********************************** */
/* NOTE image button 		      	   */
a.myCMbutton span.note {
    background: transparent url('../_images/myCM_button_note.jpg') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 23px;
} 

a.myCMbutton:active span.note {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
} 

a.myCMbutton:focus span.note {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
}


/* *********************************** */
/* LINK ISSUE image button    		   */
a.myCMbutton span.link {
    background: transparent url('../_images/myCM_button_link.jpg') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 23px;
} 

a.myCMbutton:active span.link {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
} 

a.myCMbutton:focus span.link {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
}


/* ************************************ */
/* ************************************ */
/* DISABLED BUTTONS.....                */
/* ************************************ */
/* ************************************ */
a.myCMbutton-off {
    background: transparent url('../_images/myCM_button_d.jpg') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size:11px;
	font-style:normal;	
    height: 22px;
    margin-right: 6px;
    padding-right: 10px; /* sliding doors padding */
    text-decoration: none;
	cursor: text;
}

/* *********************************** */
/* ADD image button                   */
a.myCMbutton-off span.add {
    background: transparent url('../_images/myCM_button_add_disabled.jpg') no-repeat;
	color: #999;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 23px;
} 

/* *********************************** */
/* SAVE image button                   */
a.myCMbutton-off span.save {
    background: transparent url('../_images/myCM_button_save_disabled.jpg') no-repeat;
	color: #999;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 23px;
} 



/* ************************************ */
/* ************************************ */
/* SMALL BUTTONS.....                   */
/* ************************************ */
/* ************************************ */
a.myCMbuttonSmall {
    display: block;
    float: left;
    height: 22px;
    text-decoration: none;
}

a.myCMbuttonSmall:active {
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
}

a.myCMbuttonSmall:hover { 
	text-decoration:none; 
} 

a.myCMbuttonSmall:focus {
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
}


/* *********************************** */
/* USER image button          		   */
a.myCMbuttonSmall span.user {
    background: transparent url('../_images/myCM_button_small_user.jpg') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 23px;
} 

a.myCMbuttonSmall:active span.user {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
} 

a.myCMbuttonSmall:focus span.user {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
}

/* *********************************** */
/* DELETE image button          		   */
a.myCMbuttonSmall span.delete {
    background: transparent url('../_images/myCM_button_small_delete.jpg') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 23px;
} 

a.myCMbuttonSmall:active span.delete {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
} 

a.myCMbuttonSmall:focus span.delete {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
}


/* *********************************** */
/* SORT image button          		   */
a.myCMbuttonSmall span.sort {
    background: transparent url('../_images/myCM_button_small_sort.jpg') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 23px;
} 

a.myCMbuttonSmall:active span.sort {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
} 

a.myCMbuttonSmall:focus span.sort {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
}


/* *********************************** */
/* ADD image button          		   */
a.myCMbuttonSmall span.add {
    background: transparent url('../_images/myCM_button_small_add.jpg') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 23px;
} 

a.myCMbuttonSmall:active span.add {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
} 

a.myCMbuttonSmall:focus span.add {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
}


/* *********************************** */
/* GROUP image button          		   */
a.myCMbuttonSmall span.group {
    background: transparent url('../_images/myCM_button_small_group.jpg') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 23px;
} 

a.myCMbuttonSmall:active span.group {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
} 

a.myCMbuttonSmall:focus span.group {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
}

/* *********************************** */
/* EMAIL image button          		   */
a.myCMbuttonSmall span.email {
    background: transparent url('../_images/myCM_button_small_email.jpg') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 23px;
} 

a.myCMbuttonSmall:active span.email {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
} 

a.myCMbuttonSmall:focus span.email {
    background-position: bottom left;
    padding: 6px 0 4px 23px; /* push text down 1px */
}


