@charset "utf-8";
/* CSS Document */

/* *********************************** */
/* Main body and input elements text   */
body, b, td, p, ul, li, input, select, textarea {
	color: #333333; font-family: Verdana, Arial, helvetica; font-size: 8pt;
}

body { margin: 0px;}

/* *********************************** */
/* Information Box at top of each page */
fieldset.infoBox, div.infoBox {
	border:1px solid #CCCCCC;
	background-color:#FFFFFF;
	margin-bottom:18px;
}
div.infoBox {
	padding:10px;
}

/* *********************************** */
/* Information Box Buttons             */
.infoButtons {
	float:left;
	height:35px; 
	border-left:1px solid #CCCCCC; 
	padding-left:10px;
	margin-left:10px;
}

/* *********************************** */
/* Information Box Buttons - DISABLED  */
.infoButtons-off {
	color: #999;
	float:left;
	height:35px; 
	border-left:1px solid #CCCCCC; 
	padding-left:10px;
	margin-left:10px;
}

/* *********************************** */
/* Headers/Rows used on Issues Grid    */
.listRowTop {
	background-color:#666;
	padding-left:5px; 
	padding-right:5px; 	 
	border-left: 1px solid #666; 
	background:url(../_images/table-header-black.jpg); 
	height:26px;
	color: #FFF; 
	font-weight:bold;	
}

.listRowTopEnd {
	padding-left:5px; 
	padding-right:5px; 
	background-color:#666; 	
	border-left: 1px solid #666; 
	border-right: 1px solid #666; 
	background:url(../_images/table-header-black.jpg); 
	height:26px;
	color: #FFF; 
	font-weight:bold;	
}

/* Small colored boxes used on grids */
.colorBox-Red 	{ background-color:#E56970; margin:3px; }
.colorBox-Green { background-color:#93D68A; margin:3px; }
.colorBox-Blue 	{ background-color:#779EDA; margin:3px; }
.colorBox-Yellow{ background-color:#FFFA8B; margin:3px; }
.colorBox-Purple{ background-color:#C587A6; margin:3px; }

/* ******************************** */
/* NOT SURE IF THESE ARE BEING USED */
/* ******************************** */

	.errMsg			 {COLOR: red;}
	.linkclass       {COLOR: #333333; TEXT-DECORATION: none;}
	.linkclass:hover {COLOR: #972A24; TEXT-DECORATION: underline;}
	.spacer          {COLOR: #333333; FONT-FAMILY: Arial, Verdana, Helvetica; FONT-SIZE: 8px;}
	.fieldHelp       {COLOR: #800000; FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: 8pt;}
	.textBlockHead   {COLOR: #800000; FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: 9pt; FONT-WEIGHT: BOLD;}
	.navigationBar   {BACKGROUND-COLOR: #EEEEEE; BORDER: 1px solid #888888;}
	.textBlock       {BACKGROUND-COLOR: #EEEEEE; BORDER: 1px solid #CCCCCC;}
	.blockInBlock    {BACKGROUND-COLOR: #F5F5F5; BORDER: 1px dashed #888888;}
	.blockInBlockRed {BACKGROUND-COLOR: #FFFFCC; BORDER: 1px solid #FF5252;}
	.findTable       {BACKGROUND-COLOR: #EEEEEE; BORDER: 1px solid #CCCCCC;}
	.listTable       {BACKGROUND-COLOR: #EEEEEE;}

	.listRow		{padding:5px; border-left:#969696 solid 1px; border-bottom:#969696 solid 1px; border-right:#969696 solid 1px;}
	
	.listRowHead     {BACKGROUND-COLOR: #DDDDDD;}
	.listRowBot      {BACKGROUND-COLOR: #DDDDCC; BORDER-TOP: 1px solid #888888; BORDER-BOTTOM: 1px solid #888888;}
	.blockBox		 {BORDER: 1px solid #888888;} 

