/* *********************************** */
/* Form/Input styles used on the site  */
.submitButton {
	padding:2px;
	width:100px;
}

/* *********************************** */
/* Search box on top of every page     */
.SearchBox {
	border: 1px solid #1C2B5A; 
	width: 250px; 
	height: 11px; 
	padding:5px; 
	vertical-align:middle;
}

.SearchBoxHint {
	border: 1px solid #1C2B5A; 
	width: 250px; 
	height: 11px; 
	padding:5px; 
	color:grey; 
	vertical-align:middle;
}

/* *********************************** */
/* Form inputs                         */
.inputExtraShort	{width:30px; margin-right:5px;}
.inputShort			{width:95px; margin-right:5px;}
.inputMedium		{width:145px; margin-right:5px;}
.inputMediumLong	{width:200px; margin-right:5px;}
.inputLong			{width:300px; margin-right:5px;}
.inputExtraLong		{width:400px; margin-right:5px;}
.inputHuge			{width:500px; margin-right:5px;}

.boxLight {
	border: 1px solid #96A6C5; 
	height: 17pt; 
	padding:5px;
}

.boxLightDialog {
	border: 1px solid #96A6C5; 
	height: 10pt; 
	padding:5px;
}

.boxDark {
	border: 1px solid #1C2B5A; 
	height: 17pt; 
	padding:5px;
}


/* *********************************** */
/* Styles used on "formTable" tables   */

.formTable td
{
	vertical-align:top;
	border-top:1px dotted #cccccc;
	padding-top:8px;
	padding-bottom:10px;
}
	
.formTable .formLabel 
{
	text-align:right;
	font-weight:bold;
	color:#35487B;
	padding-right:6px;
	width:125px; white-space:normal;
}

.formTable .formLabelLink 			{text-align:right; font-weight:bold; color:#35487B; width:125px; white-space:normal; text-decoration: none;}
.formTable .formLabelLink:link 		{text-align:right; font-weight:bold; color:#35487B; width:125px; white-space:normal; text-decoration: none;}
.formTable .formLabelLink:active 	{text-align:right; font-weight:bold; color:#35487B; width:125px; white-space:normal; text-decoration: none;}
.formTable .formLabelLink:visited 	{text-align:right; font-weight:bold; color:#35487B; width:125px; white-space:normal; text-decoration: none;}
.formTable .formLabelLink:hover 	{text-align:right; font-weight:bold; color:#35487B; width:125px; white-space:normal; text-decoration: underline;}

.formTable .formLabelLinkImg		{text-decoration: none;}

.formTable .formButton
{
	padding-top:2px; 
	padding-right:7px; 
	padding-bottom:2px; 
	padding-left:7px;
}

.formTable .formInput
{
	BORDER: 1px solid #96A6C5; 
	height: 17pt; 
	vertical-align:middle;
	line-height: 8pt;
	padding-top:5px; 
	padding-right:5px; 
	padding-left:5px; 
	padding-bottom:5px;
}

.formTable .inputText
{
	vertical-align:middle;
	margin-right:6px;
}

.formTable .subLabel
{ color:#666 }


.formTable .formSelect
{
	BORDER: 1px solid #96A6C5; 
	vertical-align:middle;
	padding-top:5px; 
	padding-right:5px; 
	padding-left:5px; 
	padding-bottom:5px;
}

.formTable .clearFormat {
	vertical-align:top;
	border-top:none;
	padding:0px;
}

/* *********************************** */
/* Styles used on Category tables      */
/* this MUST be after .formTable css   */
.categoryTable td {
	vertical-align:top;
	border:none;
	padding-top:5px;
	padding-bottom:5px;	
}


/* *********************************** */
/* Styles used on "formFilter" tables   */

.formFilter td
{
	background-color: #F0F0F0;
	border-top:none;
	border-right:none;
	border-left:none;
	border-bottom:solid 1px #CCC;
	padding:7px;
}


/* *************************************** */
/* Styles used on "documentation" tables   */
.formTable .docLeft {
	vertical-align:top;
	border-top:none;
	padding:5px;
	border-left:#969696 solid 1px;
	border-bottom:#969696 solid 1px;
	vertical-align:middle;
	height:20px;
	width:60%;
	text-align:left;
}

.formTable .docCenter {
	vertical-align:top;
	border-top:none;
	padding:5px;
	border-bottom:#969696 solid 1px; 
	vertical-align:middle;
	height:20px;
	width:30%;
	text-align:left;	
}

.formTable .docRight {
	vertical-align:top;
	border-top:none;
	padding:5px;
	border-bottom:#969696 solid 1px; 
	border-right:#969696 solid 1px;
	vertical-align:middle;
	height:20px;
	width:10%;
	text-align:right;
}

/* *************************************** */
/* Styles used on "activity" tables   */
.formTable .activityLeft {
	vertical-align:top;
	border-top:none;
	padding:5px;
	border-left:#969696 solid 1px;
	border-bottom:#969696 solid 1px;
	vertical-align:middle;
	height:20px;
	width:60%;
	text-align:left;
}

.formTable .activityCenter {
	vertical-align:top;
	border-top:none;
	padding:5px;
	border-bottom:#969696 solid 1px; 
	vertical-align:middle;
	height:20px;
	width:20%;
	text-align:left;	
}

.formTable .activityRight {
	vertical-align:top;
	border-top:none;
	padding:5px;
	border-bottom:#969696 solid 1px; 
	border-right:#969696 solid 1px;
	vertical-align:middle;
	height:20px;
	width:20%;
	text-align:right;
}

