@charset "utf-8";
/* CSS Document */

.iconMenuContainer
{
	padding-top:8px;
	border-top:1px dotted #ddd; 
	margin:0px;
}

.iconMenuContainer .label
{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:9px;
	font-weight:bold;
	text-transform:uppercase; 
	margin:0px;
	margin-bottom:10px;
}

.iconMenuContainer .icons
{
	margin:0px;
	overflow-y:hidden; 
}

.iconMenuContainer .navIcon
{
	text-align:center; 
	margin:0px 4px 4px 4px; 
	width:75px; 
	height:65px;
	float:left;
}

