/* *********************************** */
/* Styles used on Pagination           */
.pagerLink{ }
.pagerLink:hover{ background-color:#CAD1D6; }


table.pager {
	border:1px solid #666666; 
	margin-bottom:4px;
}

table.pager td {
	border:none;
	padding:0px;
	margin:0px;
}

table.pager div.currentIndicator {
	margin:1px; 
	background-color:#3B5998;
	padding:2px 4px; 
	color:#ffffff;
}

table.pager div.moveLink {
	color:#435d72; 
	margin:1px 1px 1px 0px; 
	background-color:#eeeeee; 
	padding: 2px 5px;
}

table.pager .moveLink a {
	color:#435d72;
}

table.pager .moveLink span {
	color:#aaaaaa;
}


/* ******************************** */
/* NOT SURE IF THESE ARE BEING USED */
/* ******************************** */

/* Search Reuslts label */
table.searchLabel {
	border:1px solid #666666; 
	margin-bottom:4px;
}

table.searchLabel .label {
	margin:1px; 
	background-color:#891010; 
	padding:1px 3px; 
	color:#ffffff;
}

table.searchLabel .counter {
	color:#891010; 
	margin:1px 1px 1px 0px; 
	background-color:#faeaea; 
	padding: 1px 5px;
}

