/* *********************************** */
/* Side Panel styles used on the site   */

#dhtmlgoodies_leftPanel{	/* Styling the help panel */
		background-color:#C7CDE9;	/* Blue background color */
		color:#FFF;	/* White text color */
		font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;	/* Which font to use */
		
		/* You shouldn't change these 5 options unless you need to */		
		height:100%;		
		left:0px;
		z-index:10;
		position:absolute;
		display:none;
	}
	
	#dhtmlgoodies_leftPanel #leftPanelContent{
		padding:5px;
	}
	#dhtmlgoodies_leftPanel .closeLink{ /* Layout of close link */
		padding-left:2px;
		padding-right:2px;
		background-color:#FFF;
		position:absolute;
		top:2px;
		left:115px;
		border:1px solid #000;
		color:#000;
		font-size:0.8em;				
	}
	#dhtmlgoodies_leftPanel .closeLink:hover{	/* Close link text  - mouseover effect*/
		color:#FFF;
		background-color:#000;
	}	

	#dhtmlgoodies_leftPanel .Title{	/* Title text */
		font-family: Verdana, Arial, helvetica;		
		color:#35487B;
		position:static;
		font-size:14px;
		font-weight:bold;
	}	
	
	#dhtmlgoodies_leftPanel .SubTitle{	/* Sub Title text */
		font-family: Verdana, Arial, helvetica;		
		font-size:12px;
		font-weight:bold;
	}	

	#dhtmlgoodies_leftPanel .Fkeys{	/* F keys text */
		font-family: Verdana, Arial, helvetica;		
		font-size:11px;
		font-weight:normal;
	}	


