/* *********************************** */
/* Status/Warning Messages NOT SURE YET*/

.statusMessage, .statusMessageERROR, .statusMessageOK, .statusMessageALERT, .statusMessageINFO
{
	width:100%; 
	border:1px solid #444; 
	background-image:url(../_images/statusMessage/bg.png);
	background-repeat:repeat-x; 
	margin-bottom:10px;
}

.statusMessage .innerBorder, .statusMessageERROR .innerBorder, .statusMessageOK .innerBorder, .statusMessageALERT .innerBorder, .statusMessageINFO .innerBorder
{
	border:2px solid; 
	margin:0px;
}

.statusMessageERROR .innerBorder	{border-color:#bc0000;}

.statusMessageOK 					{border-color:#12772b;}
.statusMessageOK 	.innerBorder 	{border-color:#1e9d42;}

.statusMessageALERT 				{border-color:#c77f3a;}
.statusMessageALERT .innerBorder 	{border-color:#f2d335;}

.statusMessageINFO 					{border-color:#2d73b2;}
.statusMessageINFO 	.innerBorder	{border-color:#7ebdfc;}

.statusMessage .pad, .statusMessageERROR .pad, .statusMessageOK .pad, .statusMessageALERT .pad, .statusMessageINFO .pad
{
	margin:5px;
}		
		
.statusMessage .routine, .statusMessageERROR .routine, .statusMessageOK .routine
{
	display:none;
}

.statusMessage ul, .statusMessageERROR ul, .statusMessageOK ul, .statusMessageALERT ul, .statusMessageINFO ul
{
	margin-left:0px;
	padding-left:20px;
}

/*

title

*/

.statusMessage .title, .statusMessageERROR .title, .statusMessageOK .title, .statusMessageALERT .title, .statusMessageINFO .title
{
	font-family:tahoma; 
	font-size:12px; 
	font-weight:bold; 
	color:#999;
	margin-bottom:4px;
}

.statusMessageERROR .title
{
	color:#bc0000;
}

.statusMessageOK .title
{
	color:#108230;
}

.statusMessageALERT .title
{
	color:#d3a437;
}

.statusMessageINFO .title
{
	color:#2d73b2;
}

/* 

icon

*/

.statusMessageERROR .icon
{
	width:16px; 
	height:16px; 
	background-image:url(../_images/icons/16/error.16.png);
}

.statusMessageOK .icon
{
	width:16px; 
	height:16px; 
	background-image:url(../_images/icons/16/check.16.png);
}

.statusMessageINFO .icon
{
	width:16px; 
	height:16px; 
	background-image:url(../_images/icons/16/information.16.png);
}

.statusMessageALERT .icon
{
	width:16px; 
	height:16px; 
	background-image:url(../_images/icons/16/alert.16.gif);
}
