/* *********************************** */
/* Main Side Menu items on every page  */
/* CRITICAL...these css names are ref  */
/* in the "tabs.js" file               */
.sideMenuOn
{
	font-weight:bold;
	background-color:#CED3EB;
	padding:3px;
	margin-top:1px;
	cursor:pointer;
	vertical-align:middle;
}

.sideMenuOff
{
	font-weight:normal;
	background-color:#FFFFFF;
	padding:3px;
	margin-top:1px;	
	cursor:pointer;
	vertical-align:middle;	
}

/* *********************************** */
/* Tabs used on TOP of detail pages    */
ul.tabs
{ 
	list-style:none;
	margin:0px 0px 20px 0px; 
	padding:0px;
	width:100%;
	color:#000;
	white-space:nowrap;
}

ul.tabs li
{
	float:left;
	border:1px solid #888888;
	border-right:none;
	background-image:url(../_images/tabs/background.gif);
	background-repeat:repeat-y;
}

ul.tabs li.on
{
	position:relative;
	text-align:center;
	top:-1px;
	border-bottom:none;
	font-size:7pt;
	text-transform:uppercase;
	color:#3B5998;						/* BLUE font color is defined here */
	background-image:none;
	cursor:pointer;
}

ul.tabs li.off
{	
	font-size:7pt;
	text-transform:uppercase;
	cursor:pointer;
	text-align:center;	
}

ul.tabs li div
{
	margin:0px;	
	padding-left:12px;
	padding-right:12px;	
	padding-top:4px;	
	padding-bottom:2px;
	border-bottom:3px solid #E6E6E6;	
}

ul.tabs li.on div, ul.tabs li.on:hover div
{
	border-top:3px solid #3B5998;		/* BLUE tab color is defined here */
	padding-top:2px;	
	padding-bottom:6px;
	border-bottom:none;
}

ul.tabs li:hover div
{
	padding-top:4px;	
	border-bottom:3px solid #3B5998;	/* BLUE hover color is defined here */
	padding-bottom:2px;	
}

ul.tabs li.empty
{
	font-size:7pt;
	border-top:none;
	cursor:default;
}

ul.tabs li.empty div
{
	border-bottom:2px solid #e6e6e6;
	padding-top:2px;
	padding-bottom:6px;
	color:#887000;	
}

/* *********************************** */
/* Tabs used on SIDE of detail pages   */
div.tabSide  {
	float:left;
	margin-right:12px;
	cursor:pointer;	
}

.tabSide div {
	background-color:#f6f6f6;
	padding:4px 4px;
	border-left:1px solid #bbbbbb; 
	border-top:1px solid #bbbbbb; 
	border-right:1px solid #bbbbbb; 
	margin-bottom:0px;
	margin-left:3px;
}

.tabSide div.empty {
	height:150px;
	background-color:#ffffff;
	border:none;
	border-right:1px solid #bbbbbb; 
	border-top:1px solid #bbbbbb; 
	cursor:default;
	margin-bottom:25px;
}

.tabSide div.on {
	margin-left:0px;
	border-right:none; 
	border-left:4px solid #bbbbbb;
	background-color:#ffffff;
	font-weight:bold;
	text-align:center;
}

.tabSide div.off {
	/* since nothing is delcared use settings from ".tabSide div" */
	text-align:center;
}

.tabSide div.highlight {
	/* since nothing is delcared use settings from ".tabSide div" */
	color:#E1273B;
	text-align:center;
}

