/* *********************************** */
/* Text/Link styles used on the site   */

.sideMenuHeader 	 	{color:#1C2B5A; font-size:12px; font-weight:bold; text-decoration: none;}
.sideMenuHeader:link 	{color:#1C2B5A; font-size:12px; font-weight:bold; text-decoration: none;}
.sideMenuHeader:active 	{color:#1C2B5A; font-size:12px; font-weight:bold; text-decoration: none;}
.sideMenuHeader:visited	{color:#1C2B5A; font-size:12px; font-weight:bold; text-decoration: none;}
.sideMenuHeader:hover	{color:#1C2B5A; font-size:12px; font-weight:bold; text-decoration: underline;}

.required
{
	color:#900;
	margin-left:2px;
	margin-right:2px;
}

.emailTrigger {
	font-size: 0.8em; 
	font-weight:normal; 
	position: relative; 
	bottom: 0.5em; 
	color:#096; 
	margin-left:2px; 
	margin-right:3px; 
	text-decoration: none;
}

.linkWhite			{color: #FFF; text-decoration: underline;}
.linkWhite:link  	{color: #FFF; text-decoration: underline;}

.linkGridHeader	  		{color: #FFF; text-decoration: none; font-weight:bold;}
.linkGridHeader:link  	{color: #FFF; text-decoration: none; font-weight:bold;}
.linkGridHeader:active 	{color: #FFF; text-decoration: none; font-weight:bold;}
.linkGridHeader:hover 	{color: #FFF; text-decoration: underline; font-weight:bold;}

.pageTitle
{
	color:#35487B;
	position:static;
	font-family:arial;
	font-size:20px;
	font-weight:bold;
}

.pageTitle_DNN
{
	color:#35487B;
	position:static;
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	margin-bottom:10px;
}

.sectionTitle
{
	color:#35487B;
	position:static;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	margin-bottom:10px;
}

.popupTitle			{color:#35487B; position:static; font-family:arial; font-size:14px; font-weight:bold; margin-bottom:10px;}
.popupTitle:link 	{color:#35487B; position:static; font-family:arial; font-size:14px; font-weight:bold; margin-bottom:10px; text-decoration: none;}
.popupTitle:active 	{color:#35487B; position:static; font-family:arial; font-size:14px; font-weight:bold; margin-bottom:10px; text-decoration: none;}
.popupTitle:visited	{color:#35487B; position:static; font-family:arial; font-size:14px; font-weight:bold; margin-bottom:10px; text-decoration: none;}
.popupTitle:hover	{color:#35487B; position:static; font-family:arial; font-size:14px; font-weight:bold; margin-bottom:10px; text-decoration: none;}

span.small	{
	font-family:trebuchet ms;
	font-size:smaller;
	}
	
p.small	{
	font-family:trebuchet ms;
	font-size:smaller;
	}

h1{
	margin:0px;
	font-family:trebuchet ms, tahoma, arial;
	font-weight:bold;
	font-size:large;
	margin-bottom:6px;
	color:#555555;
	}
h2{
	margin:0px;
	font-family:trebuchet ms, arial, trebuchet ms;
	font-weight:bold;
	font-size:larger;
	margin-bottom:6px;
	color:#666666;
	}
h3{
	margin:0px;
	font-family:arial;
	font-weight:bold;
	font-size:11pt;
	margin-bottom:6px;
	color:#666666;
	}
h4 {
	margin:0px;
	font-family:arial; 
	font-style:italic; 
	font-size:10pt;
	}

h5 {
	margin:0px;
	margin-bottom:6px;
	}
	
a {
	color:#3876B0;
	text-decoration:none;
	}
	
a:hover{
	text-decoration:underline;
	}
	
a img
{
	border:none;
}
	
	
ul {
	margin-top:0px;
	margin-bottom:20px;
}

/* PAGE TOP TEXT: breadcrumb, logged in, headlines, etc */

#loggedInAs 
{
	margin-bottom:0px;
	margin-right:20px;
	font-size:smaller;
	font-family:tahoma;  
	float:right;
	text-align:right;
}

#breadCrumb
{
	margin-left:5px;
	margin-bottom:10px;
	text-align:left;
	color:#999999;
}

#breadCrumb .location
{
}


.fauxlink
{
	color:#3876B0;
}



